body {
    background-color: #344e41;
}

hr {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0%;
    margin-right: 0%;

}

h1 {
    margin-right: 80%;
    width: 400px;
}



#one {
    margin-left: 10px;
    width: 2000px;
    color: #dad7cd;
    text-align: left;
}

#two {
    margin-left: 10px;
    width: 2000px;
    color: #dad7cd;
    text-align: left;
}

#three {
    margin-left: 10px;
    width: 2000px;
    color: #dad7cd;
    text-align: left;
}

#four {
    margin-left: 10px;
    width: 2000px;
    color: #dad7cd;
    text-align: left;
}

#five {
    margin-left: 10px;
    width: 2000px;
    color: #dad7cd;
    text-align: left;
}

#six {
    margin-left: 10px;
    width: 2000px;
    color: #dad7cd;
    text-align: left;
}

#seven {
    margin-left: 10px;
    width: 1700px;
    color: #dad7cd;
    text-align: left;
}
#eight {
    margin-left: 10px;
    width: 1700px;
    color: #dad7cd;
    text-align: left;
}

#nine {
    margin-left: 10px;
    width: 1700px;
    color: #dad7cd;
    text-align: left;
}

.employee {
    position: relative;
    width: 500px;
}

.book {
    position: relative;
    width: 500px;

}

.book2 {
    position: relative;
    width: 800px;
    margin-bottom: 10px;

}

.book3 {
    position: relative;
    width: 500px;

}

.concat {
    position: relative;
    width: 500px;
}

.list2 {
    position: relative;
    margin-left: 200px;
    margin-top: -90px;
}

.replace {
    position: relative;
    width: 500px;
}

.charlength {
    position: relative;
    width: 600px;
}

.blurb {
    position: relative;
    width: 700px;
}

.stock {
    position: relative;
    width: 500px;
}

.selen {
    position: relative;
    width: 500px;
}

.vinted {
    position: relative;
    width: 500px;
}

.order_by {
    position: relative;
    width: 700px;
}

.like {
    position: relative;
    width:600px;
}

.%_ {
    position: relative;
    width: 500px;
}