body {
    background-color: #344e41;
}

hr {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0%;
    margin-right: 0%;

}

h1 {
    margin-right: 80%;
    width: 400px;
}


.intro {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#one {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#two {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#three {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#four {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#five {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#six {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#seven {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}
#eight {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#nine {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#ten {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#eleven {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#twelve {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#thirteen {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#fourteen {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#fifteen {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#sixteen {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#seventeen {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#eighteen {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#nineteen {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#twenty {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#twone {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#twtwo {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#twthree {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}
#twfour {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#twfive {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#twsix {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}

#twseven {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}
#tweight {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}
#twnine {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}
#thirty {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}
#thone {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}
#thtwo {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}
#ththree {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}
#thfour {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}
#thfive {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}
#thsix {
    margin-left: 10px;
    width: 1800px;
    color: #dad7cd;
    text-align: left;
    font-size: 25px;
}








.employee {
    position: relative;
    width: 500px;
}

.book {
    position: relative;
    width: 500px;

}

.book2 {
    position: relative;
    width: 800px;
    margin-bottom: 10px;

}

.book3 {
    position: relative;
    width: 500px;

}

.concat {
    position: relative;
    width: 500px;
}

.list2 {
    position: relative;
    margin-left: 270px;
    margin-top: -130px;
}

.replace {
    position: relative;
    width: 500px;
}

.charlength {
    position: relative;
    width: 600px;
}

.blurb {
    position: relative;
    width: 700px;
}

.stock {
    position: relative;
    width: 500px;
}

.selen {
    position: relative;
    width: 500px;
}

.vinted {
    position: relative;
    width: 500px;
}

.order_by {
    position: relative;
    width: 700px;
}

.like {
    position: relative;
    width:600px;
}

.%_ {
    position: relative;
    width: 500px;
}

.group_by {
    position: relative;
    width: 500px;
}

.avg {
    position: relative;
    width: 500px;
}

.subq {
    position: relative;
    width: 500px;
}
.flask {
    position: relative;
    width: 500px;
}

.merge {
    position: relative;
    width: 500px;
}

.nan {
    position: relative;
    width: 500px;
}

.bar {
    position: relative;
    width: 400px;
    text-align: left;
}

.city {
    position: relative;
    width: 800px;
    text-align: left;
}

.barcity {
    position: relative;
    width: 400px;
    text-align: left;
}

.date {
    position: relative;
    width: 700px;
    text-align: left;
}

.%% {
    position: relative;
    width: 400px;
    text-align: left;
}

.between {
    position: relative;
    width: 600px;
    text-align: left;
}

.not {
    position: relative;
    width: 600px;
    text-align: left;
}

.stars {
    position: relative;
    width: 600px;
    text-align: left;
}

.plot {
    position: relative;
    width: 500px;
    text-align: left;
}

.hour {
    position: relative;
    width: 800px;
    text-align: left;
}
.group {
    position: relative;
    width: 600px;
    text-align: left;
}

.common {
    position: relative;
    width: 400px;
    text-align: left;
}

.quantgraph {
    position: relative;
    width: 400px;
    text-align: left;
}

.overlay {
    position: relative;
    width: 400px;
    text-align: left;
}

.relationships {
    position: relative;
    width: 400px;
    text-align: left;
}

.total {
    position: relative;
    width: 600px;
}
.join {
    position: relative;
    width: 1000px;
    text-align: left;
}
.toys {
    position: relative;
    width: 400px;
    text-align: left;
}

.leftjoin {
    position: relative;
    width: 600px;
    text-align: left;
}

.cover {
    position: relative;
    width: 500px;
    text-align: left;
}

.diss {
    position: relative;
    width: 700px;
    text-align: left;
}

.movies {
    position: relative;
    width: 700px;
    text-align: left;
}
.if {
    position: relative;
    width: 600px;
    text-align: left;
}
.average {
    position: relative;
    width: 700px;
    text-align: left;
}
.having {
    position: relative;
    width: 500px;
    text-align: left;
}
.view {
    position: relative;
    width: 700px;
    text-align: left;
}
.minute {
    position: relative;
    width: 500px;
    text-align: left;
}
.json {
    position: relative;
    width: 500px;
    text-align: left;
}
.order {
    position: relative;
    width: 500px;
    text-align: left;
}
.sal {
    position: relative;
    width: 500px;
    text-align: left;
}
.salary {
    position: relative;
    width: 600px;
    text-align: left;
}
.first {
    position: relative;
    width: 550px;
    text-align: left;
}
.lag {
    position: relative;
    width: 480px;
    text-align: left;
}
.lolbar {
    position: relative;
    width: 1500px;
    text-align: left;
}
.excel {
    position: relative;
    width: 500px;
    text-align: left;
}
.table1 {
    position: relative;
    width: 300px;
    text-align: left;
}
.table2 {
    position: relative;
    width: 300px;
    text-align: left;
}
.day {
    position: relative;
    width: 800px;
    text-align: left;
}
.joins {
    position: relative;
    width: 500px;
    text-align: left;
}
.netflix {
    position: relative;
    width: 1200px;
    text-align: left;
}
.hashtag {
    position: relative;
    width: 500px;
    text-align: left;
}
.bots {
    position: relative;
    width: 500px;
    text-align: left;
}
.Certificate {
    position: relative;
    width: 700px;
    text-align: left;
}
